.search__input {

  padding: 0 1rem;
  
    .btn {
      padding-left: 2rem;
      padding-right: 2rem;
    }

    .form-control {
        border: 2px solid var(--bs-primary);
        background-color: var(--bs-white);
    }
}